/*主背景*/
.main {
    -fx-border-width: 1;
    -fx-border-color: rgb(24, 116, 205);
}

.main_pop {
    -fx-border-width: 1;
    -fx-border-color: rgb(0, 178, 238);
}

.bt_close {
    -fx-background-image: url("/close2.png");
    -fx-background-size: 20 20;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-background-position: center center;
}

.bt_close:hover{
    -fx-background-image: url("/close.png");
    -fx-background-size: 20 20;
    -fx-background-color: rgb(200, 200, 200);
    -fx-background-position: center center;
}

.label {
    -fx-background-color: rgba(200, 200, 200, 0);
}