
.text-area {
    -fx-border-radius: 6;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-color: rgba(255, 255, 255,0.8);
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 6;
}

/* 滚动条样式 ================================================ */
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

.scroll-pane .content {
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-padding: 0 0 -2 4;
}