/*主背景*/
.main {
    -fx-background-image: url("/main_bg.png");
    -fx-background-size: 360 127;
}

.main_weighting {
    -fx-background-image: url("/bg_weighting.png");
    /*-fx-background-color: #2d2d30;*/
    /*-fx-background-size: 730 430;*/
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.main_pop {
    -fx-border-radius: 12;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-color: rgba(255, 255, 255,0.9);
    -fx-background-radius: 12;
    -fx-background-color: rgba(200, 200, 200, 0.95);
}

.bt_close {
    -fx-background-image: url("/close.png");
    -fx-background-size: 20 20;
    -fx-background-color: rgba(200, 200, 200, 0);
    -fx-background-position: center center;
}

.bt_close:hover {
    -fx-background-image: url("/close.png");
    -fx-background-size: 20 20;
    -fx-background-radius: 24;
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-position: center center;
}

.bt_main {
    -fx-border-radius: 12;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-color: rgba(255, 255, 255,0.8);
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 12;
}
/*-fx-background-color: linear-gradient(to right, rgba(121, 255, 172, 0.8), rgba(255, 198, 49, 0.8));*/
.bt_main:hover {
    -fx-border-radius: 12;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-color: rgb(208, 58, 15);
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 12;
}

.bt_main:pressed {
    -fx-border-radius: 12;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-color: rgb(208, 58, 15);
    -fx-background-color: rgba(255, 184, 35, 0.7);
    -fx-background-radius: 12;
}

.left_ap {
    -fx-background-color: rgba(255,255,255,0.2);
}

.label {
    -fx-background-color: rgba(200, 200, 200, 0);
}

.bt_output {
    -fx-background-image: url("/output.png");
    -fx-background-size: 27 27;
    -fx-background-color: rgba(200, 200, 200, 0);
    -fx-background-position: center center;
}

.bt_output:hover {
    -fx-background-image: url("/output2.png");
    -fx-background-size: 27 27;
    -fx-background-color: rgba(200, 200, 200, 0);
    -fx-background-position: center center;
}

.main_text_field {
    -fx-border-radius: 12;
    -fx-border-width: 2;
    -fx-background-insets: 1;
    -fx-border-color: rgba(255, 255, 255,0.8);
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 12;
}

.text-area_main {
    -fx-border-radius: 8;
    -fx-background-insets: 1;
    -fx-background-radius: 8;
    -fx-background-color: rgba(200, 200, 200, 0);
    -fx-text-fill: #ffffff;
    /*-fx-border-color: rgba(255, 255, 255,0.8);
    -fx-border-width: 1;*/
    /*-fx-background-color: rgba(255, 255, 255, 0.8);*/
}

.check-box {
    -fx-text-fill: white;
    -fx-padding: 0 25 0 0;
}

/* 滚动条样式 ================================================ */
.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding: 0;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-background-radius: 8em;
    -fx-border-radius: 8em;
    -fx-pref-height: 10px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .content {
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-background-color: transparent;
}